# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Dependency directories (Root, Client, and Server)
node_modules/
dist/
dist-ssr/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
.DS_Store

# Environment Variables (Protect your secrets!)
.env
server/.env
client/.env

# Postman (Optional: ignore local scratchpad files if needed)
postman/archives